### Importação dos dados

In [15]:
import pandas as pd
from pathlib import Path
import ipykernel

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [16]:
#Guardar as tabelas em uma lista

urls = [
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"
]

print('Total de Urls:', len(urls))

Total de Urls: 4

In [17]:
#Usar loop for para ler cada url e guardar em DataFrame dentro de uma lista

#lista vazia
tabelas = []

# para cada endereço u dentro da lista urls, repetimos o mesmo passo
for u in urls:
  df = pd.read_csv(u)
  tabelas.append(df)

# conferimos se coletamos 4 tabelas (uma por loja)
print("Total de DataFrames lidos:", len(tabelas))

# olhamos o formato da primeira tabela
print('Formato do 1 DF:', tabelas[0].shape)

# visualizar as 2 primeiras linhas da primeira tabela para ter certeza que deu tudo certo
tabelas[0].head(2)

Total de DataFrames lidos: 4
Formato do 1 DF: (2359, 12)

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66

## Tratamento - Criação de lista com todas as lojas

In [18]:
# vamos criar uma nova lista para guardar as tabelas já com a coluna "Loja"
tabelas_loja = []


# enumerate(urls, start=1) nos dá pares (1, url1), (2, url2), ...
# "start=1" faz a contagem começar no 1 (fica assim: Loja 1, 2, 3, 4)
for i, u in enumerate(urls, start=1):
  df = pd.read_csv(u)            # lemos a URL u e obtemos a tabela df
  df["Loja"] = f"Loja {i}"    # criamos uma coluna chamada "Loja" informando de qual loja veio essa tabela
  tabelas_loja.append(df)     # adicionamos essa tabela (com a nova coluna) na lista tabelas_loja


# conferimos se a coluna "Loja" existe e o que ela contém no primeiro DataFrame
print("Exemplo de valores em 'Loja':", tabelas_loja[0]["Loja"].unique()[:3])


# olhamos 2 linhas do primeiro DataFrame para ver a coluna "Loja"
tabelas_loja[0].head(2)

Exemplo de valores em 'Loja': ['Loja 1']

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79,Loja 1
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66,Loja 1

## Tratamento - União das tabelas em uma única tabela.

In [19]:
# agora vamos empilhar (juntar) as 4 tabelas em uma só

dados = pd.concat(tabelas_loja, ignore_index=True) # ignore_index=True cria um novo índice sequencial (0,1,2,...) sem repetir

# conferimos o tamanho total da tabela final
print("Formato total:", dados.shape)

# verificamos quantas linhas pertencem a cada loja
print(dados["Loja"].value_counts())

#Verificar os valores distintos
print(dados["Loja"].unique())

# olhamos as 3 primeiras linhas para validar a estrutura final
dados.head(3)

Formato total: (9435, 13)
Loja
Loja 1    2359
Loja 2    2359
Loja 3    2359
Loja 4    2358
Name: count, dtype: int64
['Loja 1' 'Loja 2' 'Loja 3' 'Loja 4']

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79,Loja 1
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66,Loja 1
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86,Loja 1

In [20]:
# salvamos "dados" em um arquivo CSV no computador
# 1) Defina a pasta de destino (relativa ao notebook)
pasta = Path("data")                  # cria um caminho "data" (subpasta)

# 2) Garanta que a pasta exista
pasta.mkdir(exist_ok=True)            # cria a pasta se ela não existir

# 3) Monte o caminho completo do arquivo
arquivo = pasta / "dados_consolidados.csv"

# 4) Salve o DataFrame
dados.to_csv(arquivo, index=False)

# 5) Mostre o caminho absoluto para você saber exatamente onde ficou
print("CSV salvo em:", arquivo.resolve())

CSV salvo em: F:\Meu Drive\WM\Conhecimento\Cursos TI\Alura\ONE\Chalengers\Store\data\dados_consolidados.csv

### Tratamento - Padronizar nomes de colunas (snake_case) 
- limpar espaços, 
- passar para minúsculo e 
- trocar espaço por "_".

In [21]:
# guardar nomes originais para comparar depois
colunas_originais = list(dados.columns)

# 2) Vamos criar uma nova lista vazia onde colocaremos os nomes padronizados
novos_nomes = []

# 3) Percorremos cada nome de coluna original
for c in dados.columns:
    # 3.1) limpamos espaços, passamos para minúsculo e trocamos espaço por "_"
    c_limpo = c.strip().lower().replace(" ", "_")
    # 3.2) adicionamos esse nome já padronizado na lista
    novos_nomes.append(c_limpo)

# 4) Atribuímos a lista pronta de volta ao DataFrame
dados.columns = novos_nomes

# 5) Conferimos o antes/depois
print("Antes :", colunas_originais)
print("Depois: ",list(dados.columns))

Antes : ['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra', 'Vendedor', 'Local da compra', 'Avaliação da compra', 'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon', 'Loja']
Depois:  ['produto', 'categoria_do_produto', 'preço', 'frete', 'data_da_compra', 'vendedor', 'local_da_compra', 'avaliação_da_compra', 'tipo_de_pagamento', 'quantidade_de_parcelas', 'lat', 'lon', 'loja']

## Converter `data_da_compra` para datetime

In [29]:
# 0) Inspecionar o ESTADO ATUAL (antes da mudança)
print("Antes da mudança: ", dados["data_da_compra"].dtype)
 # Saida esperada: object (string)
dados["data_da_compra"] = pd.to_datetime(
        dados["data_da_compra"],
        dayfirst=True, errors="coerce"
    )
    #    1) Converter de STRING -> DATETIME
    #    dayfirst=True: interpreta '25/03/2024' como 25 de março (padrão BR)
    #    errors='coerce': datas inválidas viram NaT (nulo temporal), revelando sujeiras
# 3) Verificar o DEPOIS da mudança
print("dtype depois:", dados["data_da_compra"].dtype)      # esperado: datetime64[ns]

Antes da mudança:  datetime64[ns]
dtype depois: datetime64[ns]

## 1. Análise do faturamento

# 2. Vendas por Categoria

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja